@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('public/fonts/Roboto-Condensed-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('public/fonts/Roboto-Condensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('public/fonts/Roboto-Condensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-font-color: #FFFFFF;
  --bg-color: #242424;
}

@media screen and (min-width: 1700px) {
  :root {
    font-size: 24px;
  }
}
@media screen and (max-width: 1700px) {
  :root {
    font-size: 22px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}

body {
  font-size: 20px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  max-height: 1080px;
  width: 100%;
  overflow: hidden;

  padding-inline: 2rem;

  background-color: var(--bg-color);
  color: white;
  background-image: url("public/bg-net.svg");
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 0 15px;
  }
}


.top-header {
  width: 100%;
  z-index: 2;
  font-family: Inter, sans-serif;
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.top-header__logo-wrap {
  max-width: 120px;
  height: 100px;
  width: 6rem;
  flex-shrink: 0;
}

.top-header__logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.top-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.top-header__nav-list {
  padding-left: 0;
  display: flex;
  column-gap: 30px;
  list-style: none;
}

.top-header__link {
  font-family: 'Roboto Condensed light', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  text-decoration: unset;
}

a {
  display: inline-block;
}
a:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: transform 300ms;
}

.top-header__auth {
  flex-shrink: 0;
}

.top-header__close {
  display: none;
}

.button {
  padding: 10px 25px;
  background-color: #FFFFFF;
  color: var(--bg-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Roboto Condensed Bold', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.button:hover {
  opacity: 0.9;
}

.top-header__mobile-menu {
  display: none;
  text-align: right;
  margin-left: auto;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .top-header__mobile-menu {
    display: block;
  }
  .top-header__nav {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 200px;
    padding: 30px;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
    transform: translateX(300px);
    transition: transform 500ms linear;
  }
  .top-header__nav-list {
    flex-direction: column;
    row-gap: 10px;
  }
  .top-header__nav.open {
    transform: translateX(0);
  }
  .top-header__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 5;
  }
}


.hero__main {
  width: 100%;
}

.hero__content {
  z-index: 0;
  padding: 0 0 100px 0;
  margin-top: 30px;
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 922px) {
  .hero__content {
    width: 60%;
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .hero__content {
    width: 100%;
    padding: 50px 0;
  }
}




.hero__images {
  display: flex;
  width: 100%;
}


.hero::before {
  bottom: 0;
  left: 4%;
  z-index: 0;
  width: 8rem;
  height: 8rem;
  position: absolute;
  content: '';
  background-image: url("public/proc-01-min.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__main::after {
  z-index: 3;
  width: 12%;
  height: 15%;
  top: 0;
  right: 32%;
  transform: rotate(306deg);
  position: absolute;
  content: '';
  background-image: url("public/proc-02-min.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .hero::before {
    display: none;
  }
  .hero__main::after {
   display: none;
  }
}

.hero__image {
  width: 100%;
  z-index: 3;
  transition: transform 1s;
}

.hero__image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .hero__image:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero__image {
    animation: scale2 1s infinite ease-in-out;
    animation-direction: alternate;
  }
}


.hero__text {
  position: relative;
  z-index: 2;
}

.hero__content::before {
  z-index: 1;
  position: absolute;
  top: -39%;
  left: -25%;
  height: 165%;
  min-width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  content: '';

  font-size: 250px;
  font-family: 'Roboto Condensed Light';

  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(90,100,112,1) 100%);
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .hero__content::before {
    height: 130%;
    left: -30%;
    top: -20%;
  }
}

.hero__main {
  position: relative;
}

.hero__main::before {
  z-index: 2;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translate( 0, -50%);
  width: 18rem;
  height: 18rem;

  display: flex;
  align-items: center;
  justify-content: center;
  content: '70%';
  color: var(--bg-color);

  font-size: 7rem;
  font-family: 'Roboto Condensed Bold';
  font-weight: 700;

  background: rgb(217,255,176);
  background: radial-gradient(circle, rgba(217,255,176,1) 0%, rgba(108,190,89,1) 100%);
  border-radius: 50%;
  animation: scale 1s infinite ease-in-out;
  animation-direction: alternate;

  box-shadow: 7px 10px 83px -22px rgba(190,209,151,1);
}

@media screen and (max-width: 1200px) {
  .hero__main::before {
    font-size: 5rem;
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 990px) {
  .hero__main::before {
    font-size: 4rem;
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .hero__main::before {
    display: none;
  }
}

.hero__content::after {
  z-index: 2;
  position: absolute;
  bottom: 10%;
  right: -53%;
  transform: rotate(-15deg);
  width: 10rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  content: '50%';
  color: var(--main-font-color);
  border-radius: 50%;

  font-size: 3rem;
  font-family: 'Roboto Condensed Bold';
  font-weight: 700;

  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(90,100,112,1) 100%);
}

@media screen and (max-width: 1024px) {
  .hero__content::after {
    display: none;
  }
}


.hero__heading {
  font-family: 'Roboto Condensed Bold', sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
}


@media screen and (max-width: 922px) {
  .hero__heading {
    font-size: 2.2rem;
  }
}


.hero__main-desc {
  font-family: 'Roboto Condensed light', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}


@keyframes scale {
  from {
    transform: translate( 0, -50%) rotate(15deg) scale(100%);
  }

  to {
    transform: translate( 0, -50%) rotate(20deg) scale(110%);
  }
}

@keyframes scale2 {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(105%);
  }
}