@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('public/fonts/Roboto-Condensed-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('public/fonts/Roboto-Condensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('public/fonts/Roboto-Condensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-font-color: #FFFFFF;
  --bg-color: #242424;
}

body {
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;

  padding-inline: 60px;

  background-color: var(--bg-color);
  color: white;
  background-image: url("/bg-net.svg");
}

.hero__header {
 padding: 20px 0;
}

.top-header {
  z-index: 2;
  font-family: Inter, sans-serif;
  display: flex;
  column-gap: 100px;
  align-items: center;
}

.top-header__logo-wrap {
  max-width: 190px;
  height: 100px;
}

.top-header__logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.top-header__nav-list {
  display: flex;
  column-gap: 60px;
  list-style: none;
}

.top-header__link {
  font-family: 'Roboto Condensed light', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-decoration: unset;
}

a:hover {
  opacity: 0.9;
}

.top-header__auth {
  margin-left: auto;
}

.button {
  padding: 20px 30px;
  background-color: var(--main-font-color);
  color: var(--bg-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Roboto Condensed Bold', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.button:hover {
  opacity: 0.9;
}


.hero__content {
  display: flex;
  flex-grow: 1;
}

.hero__text {
  position: relative;
  width: 50%;
  padding-left: 200px;
  padding-top: 170px;
  z-index: 2;
}

.hero::after {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 3%;
  width: 70%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  content: '';

  font-size: 250px;
  font-family: 'Roboto Condensed Light';

  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(90,100,112,1) 100%);
  border-radius: 50%;
}

.hero::before {
  z-index: 2;
  position: absolute;
  top: 34%;
  right: 10%;
  transform: translate( 0, -50%);
  width: 30%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  content: '70%';
  color: var(--bg-color);

  font-size: 250px;
  font-family: 'Roboto Condensed Bold';
  font-weight: 700;

  background: rgb(217,255,176);
  background: radial-gradient(circle, rgba(217,255,176,1) 0%, rgba(108,190,89,1) 100%);
  border-radius: 50%;
  animation: scale 1s infinite ease-in-out;
  animation-direction: alternate;

  box-shadow: 7px 10px 83px -22px rgba(190,209,151,1);
}

.hero__text::after {
  z-index: 2;
  position: absolute;
  bottom: -7%;
  right: -43%;
  transform: translate( 0, -50%) rotate(-15deg);
  width: 32%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  content: '50%';
  color: var(--main-font-color);
  border-radius: 50%;

  font-size: 100px;
  font-family: 'Roboto Condensed Bold';
  font-weight: 700;

  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(90,100,112,1) 100%);
}

.hero__heading {
  font-family: 'Roboto Condensed Bold', sans-serif;
  font-size: 5.3rem;
  font-weight: 600;
  line-height: 1;
}

.hero__main-desc {
  font-family: 'Roboto Condensed light', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}


@keyframes scale {
  from {
    transform: translate( 0, -50%) rotate(15deg) scale(100%);
  }

  to {
    transform: translate( 0, -50%) rotate(20deg) scale(110%);
  }
}